extends ../_shared/page-layout

block page-body
	form.validate(action = '/settings/account', method = 'post').form-vertical
		div.row
			div.col-sm-12.col-md-6.form-group
				label(for = 'username') Username
				input#username.form-control(value = user.username, disabled = true, required = true)

			div.col-sm-12.col-md-6.form-group
				label(for = 'displayName') Display Name
				input#displayName.form-control(value = user.displayName, disabled = !user.hasPermission('settings.accounts.edit-display-name'), required = true)

		div.row
			div.col-sm-12.col-md-6.form-group
				label(for = 'currentPassword') Current Password
				input#currentPassword.form-control(type = 'password')
				span.help-block.text-muted Only required if changing your password.

		div.row
			div.col-sm-12.col-md-6.form-group
				label(for = 'newPassword1') New Password:
				input#newPassword1.form-control(type = 'password', minlength = 8)

			div.col-sm-12.col-md-6.form-group
				label(for = 'newPassword2') Repeat New Password:
				input#newPassword2.form-control(type = 'password', data-rule-equalTo = "#newPassword1")

		div.row
			div.col-sm-12.col-md-6
				button.btn.btn-primary(type = 'submit')
					i.fa.fa-save
					| Save
