- _ = _ || {}
- PERMISSIONS = locals.PERMISSIONS || {}

block variables

doctype html
html
	head
		if _.pageTitle
			title #{_.pageTitle} :: Inventory
		else
			title Inventory
		link(rel = 'stylesheet', href = '/_npm/bootstrap/dist/css/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/_npm/font-awesome/css/font-awesome.min.css')
		link(rel = 'stylesheet', href = '/_npm/toastr/build/toastr.min.css')
		link(rel = 'stylesheet', href = '/_npm/gentelella/build/css/custom.min.css')
		link(rel = 'stylesheet', href = '/_shared/tweaks.css')
		meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
		block head

	body(class= bodyClass || 'nav-md')

		block body

		script(src = '/_npm/jquery/dist/jquery.min.js')
		script(src = '/_npm/jquery-validation/dist/jquery.validate.min.js')
		script(src = '/_npm/bootstrap/dist/js/bootstrap.min.js')
		script(src = '/_npm/toastr/build/toastr.min.js')
		script(src = '/_npm/gentelella/build/js/custom.min.js')

		script(type = 'text/javascript') window.Inventory = {};
		script(type = 'text/javascript') window.Inventory.toastrMessages = !{JSON.stringify(locals.flash || [])};
		script(type = 'text/javascript') window.Inventory.user = !{JSON.stringify(locals.user, null, 0)};

		script(src = '/global/bundle.js')

		block scripts
