// layout

.nav-md .container.body .right_col {
	padding: 0 !important;
}

.site_title {
	font-size: 20px;
	i {
		border: none !important;
	}
}

.main_menu .fa {
	margin-right: 8px;
}

.x_title h2 {
	overflow: visible !important;
	margin: 7px 0 !important;
}

// text

p.no-margin {
	margin: 0 !important;
}

p.top-margin {
	margin: 10px 0 0 !important;
}

.text-muted {
	color: inherit !important;
	opacity: 0.6;
}

h4 {
	margin-top: 0 !important;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 1px;
}

.modal-header h4 {
	border-bottom: none;
	padding-bottom: 0;
}

// forms

.form-control:focus {
	border-color: #66afe9;
}

form.validate {
	margin-top: 0 !important;
}

form .help-block {
	margin-bottom: 0 !important;
}

// tables

table.table {
	width: 99%;
}

table.non-full-width {
	width: auto !important;
}

table tfoot tr td {
	border-top: 2px solid #dddddd !important;
}

td span {
	line-height: inherit !important;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none !important;
	}
}

// other elements

.btn {
	i.fa {
		margin-right: 8px;
	}
}

ul.ui-autocomplete {
	z-index: 1100;
	border: 1px solid #cccccc;
	background: #ffffff;

	li.ui-menu-item, li.ui-menu-item:hover {
		cursor: pointer;
		list-style: none none;
		margin: 0;
		padding: 0;

		div, div:hover {
			margin: 3px 1em 3px 0.4em;
			padding: 0;
		}
	}
}
