extends ../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/datatables.net-bs/css/dataTables.bootstrap.css')

block page-title-extra
	if user.hasPermission('users.create')
		a.btn.btn-success(href = '/users/edit')
			i.fa.fa-fw.fa-user-plus
			| Add User

block page-body

	div.row: div.col-xs-12
		table#users.table.table-hover
			thead
				tr
					th Username
					th Display Name
					th Actions

block page-scripts
	script(src = '/_npm/datatables.net/js/jquery.dataTables.js')
	script(src = '/_npm/datatables.net-bs/js/dataTables.bootstrap.js')
	script(src = '/users/bundle.js')
